@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, sans-serif;
}

mat-sidenav-container.m2app-dark {
  background: black;
}

.app-content {
  padding: 20px;
  min-height: 500px;

}

.app-content mat-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
  min-height: 200px;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
